/* COWORKERS
/*
/* 1) Elements and General Classes
/*    - Elements
/*    - Colors
/*    - Fonts
/*    -
/* 2) Index Styling
/* 3) Welcome View
/* 4) Login View
/* 5) Signup View
/* 6) Additional Info View
/* 7) Users View

/* 1) Elements and General Classes */
/* Elements */
body {
    height: 100%;
    background-color: #f1f1f1;
}

ul, li {
    list-style: none;
}

p {
    font-size:  1.6em;
}

/* General Styling */
.hidden {
    display: none;
}

.visible {
    display: inherit;
}

.no-margin {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}

.text-centered {
    text-align: center;
}

.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.flex-center {
    align-items: center;
}

/* Colors */
.rich-red {
    background-color: #703030;
}

.rich-red-text {
    color: #703030;
}

.obsidian {
    background-color: #2F343B;
}

.obsidian-text {
    color: #2F343B;
}

.granite {
    background-color: #7E827A;
}

.granite-text {
    color: #7E827A;
}

.sandstone {
    background-color: #E3CDA4;
}

.sandstone-text {
    color: #E3CDA4;
}
.auburn {
    background-color: #C77966;
}

.auburn-text {
    color: #C77966;
}

.offwhite {
    background-color: #f1f1f1;
}

.offwhite-text {
    color: #f1f1f1;
}

/* Fonts */
.graduate {
    font-family: 'Graduate', cursive;
}

.open-sans {
    font-family: 'Open Sans Condensed', sans-serif;
}

.arvo {
    font-family: 'Arvo', serif;
}

/* 2) Index Styling */
.topnav {
    overflow: hidden;
    height: 5.7em;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  color: #44b6c8;
  text-decoration: underline;
}

.topnav .icon {
  display: none;
}

#navbar {
    margin-bottom: 0;
}
#nav-link-wrap {
    margin-top: 10px;
    margin-left: 20px;
    float: right;
}

#header-logo {
    max-width: 300px;
}

#nav-dropdown {
    right: 0;
    left: auto;
    float: right;
}

/* 3) Welcome View */
#welcome {
    background-image: url("../images/welcome_1920x1280.jpg");
    background-size: 100%;
    height: 500px;
    padding: 0;
    margin-bottom: 0;
}

#welcome-2 {
    width: 100%;
    height: 600px;
    display: block;
}

#welcome-2-header {
    display: block;
    padding-top: 30px;
    font-size: 70px;
}

#welcome-2-text {
    margin-top: 20px;
}

#welcome-2-map {
    position: relative;
    top: 5em;
}

#jumbotron-layer {
    background-color: rgba(227, 205, 164, 0.5);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#hero-content-wrapper {
    display: flex;
    flex-direction: column;
    align-content: center;
}

#signup-btn {
    width: 50%;
    margin: 10px;
    margin-left: 25%;
}

#seeusers-btn {
    width: 50%;
    margin: 10px;
    margin-left: 25%;
}

/* 4) Login View */
#login-wrapper {
    margin-left: 20%;
    padding: 0 15% 0 15%;
}

/* 5) Signup View */
#signup-wrapper {
    padding: 1em;
}

/* 6) Additional Info View */
#add-info-wrapper {
    padding: 15px;
}

/* 7) Users View */
.user-card {
    text-align: right;
    border: 2px solid lightgrey;
    background-color: #f1f1f1;
    padding: 8px;
    height: 150px;
    margin: 10px;
    width: 40em;
}

.profile-pic {
    float: left;
    position: absolute;
    left: 0;
    top: 2em;
    height: 80px;
    width: 80px;
    background-color: red;
    margin-top: 1em;
}

#users-container {
    margin-top: 20px;
}

#users-wrapper {
    margin-top: 20px;
}

#users-search {
    float: left;
    margin-top: 10px;
}

#users-search-label {
    display: initial;
}

#users-search-field {
    width: 40%;
}

#users-list {
    float: right;
}

#users-skills {
    margin-left: 10%;
}

/* 8) Profile View */
#profile-container {
    margin-top: 6em;
}

#profile-pic-wrapper {
    position: relative;
    width: 9em;
    height: 9em;
    top: -10px;
}

#profile-pic {
    height: 9em;
    width: 9em;
}
.profile-wrapper {
    border: 2px solid grey;
    width: 50em;
    height: 30em;

}

#map_wrapper {
    height: 600px;
}

#map_canvas {
    position: absolute;
    right: 0px;
    width: 60%;
    height: 100%;
}

#profile-btn {
    float: right;
}

/* #product-div {
    position: absolute;
    left: 0px;
    margin: 10px;
   padding: 10px;
   float: left;
} */

/* 9) Locations View */

/* 10) Single Location View */

.location-user-hide:first-of-type {
    display: none;
}
