/* COWORKERS
/*
/* 1) Elements and General Classes
/*    - Elements
/*    - Colors
/*    - Fonts
/*    -
/* 2) Index Styling
/* 3) Welcome View
/* 4) Login View
/* 5) Signup View
/* 6) Edit Profile View
/* 7) Additional Info View
/* 8) Users View
/* 9) Locations View
/* 10) Single Location View
/* 11) Footer Styling


/* 1) Elements and General Classes */

/* Elements */

body {
    height: 100%;
    background-color: #f1f1f1;
}

ul, li {
    list-style: none;
}

p {
    font-size: 1.6em;
    font-family: 'Open Sans', Helvetica, sans-serif;
}

a:hover {
    text-decoration: none;
    cursor: pointer;
}


/* General Styling */

.hidden {
    display: none;
}

.visible {
    display: inherit;
}

.no-margin {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}

.text-centered {
    text-align: center;
}

.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.flex-center {
    align-items: center;
}


/* Colors */

.rich-red {
    background-color: #703030;
}

.rich-red-text {
    color: #703030;
}

.obsidian {
    background-color: #2F343B;
}

.obsidian-text {
    color: #2F343B;
}

.granite {
    background-color: #7E827A;
}

.granite-text {
    color: #7E827A;
}

.sandstone {
    background-color: #E3CDA4;
}

.sandstone-text {
    color: #E3CDA4;
}

.auburn {
    background-color: #C77966;
}

.auburn-text {
    color: #C77966;
}

.offwhite {
    background-color: #f1f1f1;
}

.offwhite-text {
    color: #f1f1f1;
}

.lightgreen {
    color: lightgreen;
}


/* Fonts */

.graduate {
    font-family: 'Graduate', cursive;
}

.open-sans {
    font-family: 'Open Sans Condensed', sans-serif;
}

.arvo {
    font-family: 'Arvo', serif;
}

.archivo {
    font-family: 'Archivo', sans-serif;
}

.work-sans {
    font-family: 'Work Sans', sans-serif;
}


/* 2) Index Styling */

.topnav {
    overflow: hidden;
    height: 5.7em;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    color: #44b6c8;
    text-decoration: underline;
}

.topnav .icon {
    display: none;
}

#navbar {
    margin-bottom: 0;
}

#nav-link-wrap {
    margin-top: 10px;
    margin-left: 20px;
    float: right;
    display: flex;
    flex-direction: row;
}

#header-logo {
    max-width: 300px;
}

@media only screen and (max-width: 736px) {
    #header-logo {
        max-width: 200px;
        margin-top: .4em;
    }
}

#nav-dropdown {
    right: 0;
    left: auto;
    float: right;
}


/* 3) Welcome View */

#welcome {
    background-image: url("../images/welcome_1920x1280.jpg");
    background-size: 100%;
    height: 500px;
    padding: 0;
    margin-bottom: 0;
}

#welcome-2 {
    width: 100%;
    height: 600px;
    display: block;
}

#welcome-3 {
    height: 300px;
}

#welcome-3-container {
    padding-right: 0;
}

#welcome-header {
    font-size: 6em;
}

#welcome-2-header {
    display: block;
    padding-top: 30px;
    font-size: 70px;
}

#welcome-2-content {
    display: block;
}

#welcome-2-text {
    margin-top: 20px;
}


/* #welcome-2-users {

} */

#welcome-2-map {
    position: relative;
    margin: 10px;
}

#welcome-2-users-image {
    max-width: 400px;
    float: right;
}

#welcome-2-map-image {
    max-width: 530px;
}

#jumbotron-layer {
    background-color: rgba(227, 205, 164, 0.5);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#hero-content-wrapper {
    display: flex;
    flex-direction: column;
    align-content: center;
    padding-top: 4em;
}

#signup-btn {
    width: 50%;
    margin: 10px;
    margin-left: 25%;
}

#seeusers-btn {
    width: 50%;
    margin: 10px;
    margin-left: 25%;
}

#welcome-footer {
    margin-bottom: 0;
}


/* 4) Login View */

#login-wrapper {
    margin-left: 20%;
    padding: 0 15% 0 15%;
    margin-top: 20px;
}


/* 5) Signup View */

.form-horizontal {
    opacity: 1;
    padding: 0px;
}

.signup-background {
    background-size: 100%;
    height: 650px;
    background-image: url("/images/pexels-photo-317377.jpeg");
    opacity: .9s;
}

#signup-wrapper {
    margin-top: 20px;
    ;
}

button.btn.btn-success.work-sans {
    position: relative;
    /* margin-right: 500px;  */
}

#character-count {
    max-width: 500px;
}

input#first-name, input#last-name {
    width: 50%;
}

input#inputEmail3 {
    width: 50%;
}

input#inputPassword3, input#inputPassword4 {
    width: 50%;
}


/* 6) Additional Info View */

#add-info-wrapper {
    padding: 15px;
}

#update-content {
    margin-top: 7em;
}

.edit-profile-wrapper {
    border: 2px solid grey;
    width: 50em;
    height: 50em;
    padding-bottom: 20px;
}

.form-control-socialmedia {
    width: 90%; 
    display: inline-block;
     margin-left: 25px; 
    margin-right: 15px;
}


/* 7) Users View */

.user-card {
    text-align: right;
    border: 2px solid lightgrey;
    background-color: #f1f1f1;
    padding: 8px;
    min-height: 150px;
    margin: 10px;
    min-width: 300px;
}

.profile-pic {
    float: left;
    position: absolute;
    left: 0;
    top: 2em;
    height: 80px;
    width: 80px;
    background-color: red;
    margin-top: 1em;
}

fdiv.flex.flex-column.flex-center.profile-wrapper {
    padding: 15px;
}

#users-container {
    margin-top: 20px;
}

#users-wrapper {
    margin-top: 20px;
}

#users-search {
    float: left;
    margin-top: 10px;
}

#users-search-label {
    display: initial;
}

#users-search-field {
    width: 40%;
}

#users-list {
    width: 60%;
    margin-left: 7em;
}

#users-skills {
    margin-left: 15%;
}


/* 8) Profile View */

#profile-container {
    margin-top: 6em;
    margin-bottom: 6em;
}

#profile-pic-wrapper {
    position: relative;
    width: 9em;
    height: 9em;
    top: -30px;
}

#profile-pic {
    height: 9em;
    width: 9em;
}

#profile-icons-container {
    width: 50em;
    border: 2px solid grey;
}

#profile-icons {
    text-align: center;
    margin: 15px;
    width: 100%;
    display: block;
    font-size: 2em;
}

.profile-icon {
    margin-right: 15px;
}

.profile-icon:first-of-type {
    margin-left: 0;
}

.profile-wrapper {
    border: 2px solid grey;
    width: 50em;
    height: 28em;
    padding-bottom: 20px;
}

.profile-wrapper h2 {
    font-size: 56px;
}

.profile-wrapper h3 {
    font-size: 34px;
}

input#profile-btn {
    float: right;
    margin-top: 2px;
}


/* 9) Locations View */

#map_wrapper_multiple {
    height: 40em;
    width: 40em;
    margin-top: 60px;
    margin-left: 50px;
    margin-right: 20px;
    float: left;
}

#the-product {
    border: 2px solid gainsboro;
    padding: 10PX;
    margin-bottom: 10px;
    width: 30em;
    margin-right: 50px;
}

#the-product:hover {
    border-color: burlywood;
}

#product-list {
    margin-top: 60px;
    margin-left: 30px;
}


/* 10) Single Location View */

#map_wrapper {
    height: 100%;
}

#map_canvas {
    height: 100%;
}


/* Search Field */

.search-form .form-group {
    float: left !important;
    transition: all 0.35s, border-radius 0s;
    width: 32px;
    height: 32px;
    background-color: #fff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.search-form .form-group input.form-control {
    padding-right: 20px;
    border: 0 none;
    background: transparent;
    box-shadow: none;
    display: block;
}

.search-form .form-group input.form-control::-webkit-input-placeholder {
    display: none;
}

.search-form .form-group input.form-control:-moz-placeholder {
    /* Firefox 18- */
    display: none;
}

.search-form .form-group input.form-control::-moz-placeholder {
    /* Firefox 19+ */
    display: none;
}

.search-form .form-group input.form-control:-ms-input-placeholder {
    display: none;
}

.search-form .form-group:hover, .search-form .form-group.hover {
    width: 100%;
    border-radius: 4px;
}

.search-form .form-group span.form-control-feedback {
    position: absolute;
    top: -1px;
    right: -2px;
    z-index: 2;
    display: block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    color: #703030;
    left: initial;
    font-size: 14px;
}


/* End Search Field */

.location-user-hide:first-of-type {
    display: none;
    transition: all linear 0.5s;
}

.location-button-hide {
    display: none;
}

.single-location-info {
    padding: 10px;
    margin-top: 0;
    margin-bottom: 0;
}

.single-location-user-info {
    margin-top: 0;
    margin-bottom: 5px;
}

#single-location-container {
    margin-bottom: 15em;
    margin-top: 20px;
}

#single-location-information {
    background-color: #fff;
    border: 2px solid darkgrey;
    margin-bottom: .6em;
}

#single-location-youarehere {
    text-align: center;
    text-decoration: underline;
    margin-top: 0;
}

#single-profile-info-container {
    margin-top: 1em;
}

#profile-btn {
    float: left;
}

#single-location-map {
    float: right;
    position: relative;
    height: 300px;
    margin-top: 10px;
    margin-bottom: 50px;
}

#single_map_wrapper {
    height: 300px;
    width: 300px;
    margin-top: 20px;
    margin-left: 60px;
}


/* 11) Footer Styling */

#footer {
    padding-top: 10px;
}

#footer-button {
    width: 50%;
    float: left;
    font-family: 'Graduate', serif;
}

#footer-button:hover {
    background-color: #C77966;
    color: #f1f1f1;
}

#footer-button-container {
    float: left;
}

#search-container {
    float: right;
    padding-left: 0;
}


/* #map_wrapper_multiple {
    height: 550px;
    width: 850px;
    margin-top: 20px;
    margin-left: 60px;   
}    */

ul.social-network {
    list-style: none;
    display: inline;
    margin-left: 0 !important;
    padding: 0;
}

ul.social-network li {
    display: inline;
    margin: 0 5px;
}


/* footer social icons */

.social-network a.icoRss:hover {
    background-color: #F56505;
}

.social-network a.icoFacebook:hover {
    background-color: #3B5998;
}

.social-network a.icoTwitter:hover {
    background-color: #33ccff;
}

.social-network a.icoGoogle:hover {
    background-color: #BD3518;
}

.social-network a.icoVimeo:hover {
    background-color: #0590B8;
}

.social-network a.icoLinkedin:hover {
    background-color: #007bb7;
}

.social-network a.icoRss:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i, .social-network a.icoGoogle:hover i, .social-network a.icoVimeo:hover i, .social-network a.icoLinkedin:hover i {
    color: #fff;
}

a.socialIcon:hover, .socialHoverClass {
    color: #44BCDD;
}

.social-circle li {
    display: inline-block;
    position: relative;
    margin: 0 auto 0 auto;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    width: 50px;
    height: 50px;
    font-size: 20px;
}

.social-circle li i {
    margin: 0;
    line-height: 50px;
    text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
    /* -moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-ms--transform: rotate(360deg);
	transform: rotate(360deg); */
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
}

.social-circle i {
    color: #fff;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    -ms-transition: all 0.8s;
    transition: all 0.8s;
}

#footer-icons {
    margin-right: 20px;
    float: right;
}

#footer-copyright {
    width: 30%;
    display: inline-block;
    margin: 15px 0 0 5px;
}


/* a {
 background-color: #D3D3D3;   
} */