<div class="page-header">
    <h1>Update</h1>
</div>
<form class="my-form" ng-submit="save()">
    <label for="email">Email</label>
    <div class="form-group">
        <input class="form-control" type="text" ng-model="user.displayemail" >
    </div>
    <label for="interests">Interests</label>
    <div class="form-group">
        <textarea class="form-control" ng-model="user.interests" ></textarea>
        <span>{{500 - user.interests.length}}</span>  
    </div>
    <input class="btn btn-info" type="submit" value="Save">
</form>