  <!-- <div class="flex container">
    <form class="my-form" ng-submit="save()">
        <div class="flex flex-column flex-center profile-wrapper">
            <div id="profile-pic-wrapper" class="flex">
                <img id="profile-pic" src="/images/placeholder-user-photo.png"></img>
            </div>
            <h3 class="arvo"><span ng-model="firstname">{{ user.firstname }}</span> <span ng-model="lastname">{{ user.lastname }}</span></h5>
            <label for="email">Email</label>
            <div class="form-group">
                <input class="form-control" type="text" ng-model="user.displayemail">
            </div>
            <label for="interests">Interests</label>
            <div class="form-group">
                <textarea class="form-control" ng-model="user.interests" ></textarea>
                <span>{{500 - user.interests.length + " characters remaining"}}</span>  
            </div>
            <input class="btn btn-info" type="submit" value="Save">
        </div>
    </form>
</div>  -->
 <div class="container">
    <div id="profile-container" class="flex flex-column flex-center full-width">
        <div class="flex flex-column flex-center profile-wrapper">
            <div id="profile-pic-wrapper" class="flex">
                <img id="profile-pic" img ng-src="{{ user.imageurl }}"></img>
            </div>
            <h3 class="arvo"><span ng-model="firstname">{{ user.firstname }}</span> <span ng-model="lastname">{{ user.lastname }}</span></h5>
                <form class="my-form" ng-submit="save()">
                    <div class="form-group">
                        <input class="form-control" type="text" ng-model="user.displayemail">
                    </div>
                    <div class="form-group">
                        <textarea rows="6" cols="75" class="form-control" ng-model="user.interests"></textarea>
                        <span>{{500 - user.interests.length}}</span>
                        <input id="profile-btn" class="btn btn-info" type="submit" value="Save">

                    </div>
        </div>


        </form>
        <div class="clearfix visible-lg" ng-if="($index + 1) % 6 == 0"></div>
        <div class="clearfix visible-md" ng-if="($index + 1) % 4 == 0"></div>
        <div class="clearfix visible-sm" ng-if="($index + 1) % 3 == 0"></div>
        <!--<div class="clearfix visible-xs" ng-if="($index + 1) % 1 == 0"></div>-->
    </div>
