<div class="text-center" style="padding:50px 0">
    <div class="col-md-6">
	<div class="logo graduate">Login</div>
	<div class="login-form-1">
		<form id="login-form" class="text-left">
			<div class="main-login-form">
				<div class="login-group">
					<div class="form-group text-centered">
						<label for="lg_username" class="sr-only graduate">Username</label>
						<input type="text" class="form-control" id="lg_username" name="lg_username" placeholder="username" ng-model="email">
					</div>
					<div class="form-group">
						<label for="lg_password" class="sr-only graduate">Password</label>
						<input type="password" class="form-control" id="lg_password" name="lg_password" placeholder="password" ng-model="password">
					</div>
					<div class="form-group login-group-checkbox">
						<input type="checkbox" id="lg_remember" name="lg_remember">
						<label for="lg_remember">Remember Me</label>
					</div>
				</div>
				<button type="submit" class="login-button" ng-click="login()"><i class="fa fa-chevron-right"></i></button>
			</div>
			<div class="etc-login-form">
				<button class="btn btn-info" ng-click="logout()">Log Out? </button>
			</div>
        </form>
        </div>
	</div>