<div class="text-center">
    <div id="login-wrapper" class="col-md-8 sandstone">
		<h4 class="logo work-sans">Login</h4>
		<div class="login-form-1">
			<form id="login-form">
				<div class="main-login-form">
					<div class="login-group">
						<div class="form-group text-centered">
							<label for="lg_username" class="sr-only work-sans">Username</label>
							<input type="text" class="form-control" id="lg_username" name="lg_username" placeholder="email" ng-model="email">
						</div>
						<div class="form-group">
							<label for="lg_password" class="sr-only work-sans">Password</label>
							<input type="password" class="form-control" id="lg_password" name="lg_password" placeholder="password" ng-model="password">
						</div>
						<div class="form-group login-group-checkbox">
							<input type="checkbox" id="lg_remember" name="lg_remember">
							<label for="lg_remember" class="work-sans">Remember Me</label><br>
							 <a href="/signup"><label for="lg_remember" class="work-sans">Not currently a member? Signup here!</label></a> 
						</div>
					</div>
				</div>
				<div class="etc-login-form">
					<button type="submit" class="btn btn-default auburn rich-red-text work-sans" ng-click="login()">Login</button>
				</div>
			</form>
		</div>
		<div class="alert alert-success alert-dismissible" role="alert" ng-show="successAlert == true">Logged in</div>
		<div class="alert alert-danger alert-dismissible" role="alert" ng-show="failureAlert == true">Email and/or password incorrect</div>
	</div>
	