<div class="container-fluid" style="padding-left: 0; padding-right: 0;">
    <div class="container" style="margin: 0; width: 100%">
        <div class="row">
            <div id="welcome" class="jumbotron full-width">
                <div id="jumbotron-layer">
                    <div id="hero-content-wrapper">
                        <h1 id="welcome-header" class="work-sans text-center offwhite-text">Find out who<br />you're working with</h1>
                        <a href="/signup">
                            <button id="signup-btn" class="btn btn-info obsidian work-sans">Sign Up</button>
                        </a>
                        <a href="/locations">
                            <button id="seeusers-btn" class="btn btn-info obsidian work-sans">See Locations</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        
        <div id="welcome-2" class="full-width offwhite">
            <div class="row">
                <div class="col-md-12">
                    <h1 id="welcome-2-header" class="text-centered no-margin work-sans">Coworking hard <br />or hardly coworking?</h1>
                    <p id="welcome-2-text" class="text-centered open-sans">See who all is available at your favorite coworking site, or search around and find a space with some peace and quiet.</p>
                </div>
                <div id="welcome-2-content" class="row">
                    <a href="/locations" style="text-decoration: none;">
                        <div id="welcome-2-users" class="col-md-5 col-xs-12">
                            <img id="welcome-2-users-image" src="/images/Screen Shot 2017-08-08 at 2.34.26 PM.png"></img>
                        </div>
                        <div id="welcome-2-map" class="col-md-6 col-xs-12">
                            <img id="welcome-2-map-image" src="/images/Screen Shot 2017-08-08 at 1.17.14 PM.png"></img>
                        </div>
                    </a>
                </div>
        </div>

        <div id="welcome-3" class="full-width sandstone">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-centered no-margin work-sans" id="welcome-3"></h1>
                </div>
            </div>
        </div>
        <nav id="welcome-footer" class="navbar fixed-bottom rich-red">  
            <div class="col-md-12">
                    <ul class="social-network social-circle">
                        <li><a href="#" class="icoRss" title="Rss"><i class="fa fa-rss"></i></a></li>
                        <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                    </ul>				
                </div>
                <a class="work-sans offwhite-text" href="/">© 2017 Coworkers, LLC</a>
        </nav>
    </div>
</div>