<div class="container-fluid">
    <div class="row">
        <div id="welcome" class="jumbotron full-width">
            <div id="jumbotron-layer">
                <div id="hero-content-wrapper">
                    <h1 class="graduate text-center offwhite-text">Find out what<br />you're working with</h1>
                    <button id="signup-btn" class="btn btn-info obsidian graduate">Sign Up</button>
                    <button id="seeusers-btn" class="btn btn-info obsidian graduate">See Users</button>
                </div>
            </div>
        </div>
    </div>
</div>