<div class="container-fluid">
    <div class="row">
        <div id="welcome" class="jumbotron full-width">
            <div id="jumbotron-layer">
                <div id="hero-content-wrapper">
                    <h1 class="graduate text-center offwhite-text">Find out who<br />you're working with</h1>
                    <a href="/signup">
                        <button id="signup-btn" class="btn btn-info obsidian graduate">Sign Up</button>
                    </a>
                    <a href="/users">
                        <button id="seeusers-btn" class="btn btn-info obsidian graduate">See Users</button>
                    </a>
                    <a href="/search">
                        <button id="seeusers-btn" class="btn btn-info obsidian graduate">Search All Users</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div id="welcome-2">
        <h1 class="text-centered">Coworking hard or hardly coworking?</h1>
    </div>
</div>